statemachine/statemachine/getTenantsAndStartConverters.asl.json
{
  "Comment": "A state machine that retrieves tenantUuids from SDS and starts state machines ",
  "StartAt": "Get Tenants",
  "States": {
    "Get Tenants": {
      "Type": "Task",
      "Comment": "Get's a 'paged' resultset of tenant uuids",
      "Type": "Task",
      "Resource": "${GetTenantsFunctionArn}",
      "Retry": [ {
        "ErrorEquals": [ "Lambda.ServiceException", "Lambda.AWSLambdaException", "Lambda.SdkClientException" ],
        "IntervalSeconds": 2,
        "MaxAttempts": 6,
        "BackoffRate": 2
      } ],
      "Next": "Process Tenants"
    },
    "Process Tenants": {
      "Type": "Map",
      "Next": "More Tenants?",
      "ItemsPath": "$.content",
      "ResultPath": "$.iteratorOut",
      "MaxConcurrency": 1,
      "Parameters": {
        "input": {
          "tenantUuid.$": "$$.Map.Item.Value",
          "startDate": "2016-04-01T00:00:00Z",
          "endDate": "2016-10-01T00:00:00Z",
          "page": 0
        },
        "StateMachineArn": "${EventCreatorStateMachineArn}"
      },
      "Iterator": {
        "StartAt": "Start StateMachine for Tenant",
        "States": {
          "Start StateMachine for Tenant": {
            "Type": "Task",
            "Resource": "${RestartFunctionArn}",
            "End": true
          }
        }
      }
    },
    "More Tenants?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.last",
          "BooleanEquals": true,
          "Next": "Finish"
        }
      ],
      "Default": "Next TenantPage Page"
    },
    "Next TenantPage Page": {
      "Type": "Task",
      "Resource": "${IncrementFunctionArn}",
      "InputPath": "$.page",
      "ResultPath": "$.page",
      "Next": "Get Tenants"
    },
    "Finish": {
      "Type": "Pass",
      "End": true
    }
  }
}
