statemachine/statemachine/getTenantsAndStartConverters.asl.json
{
  "Comment": "A state machine that retrieves tenantUuids from SDS and starts state machines ",
  "StartAt": "Get Tenants",
  "States": {
    "Get Tenants": {
      "Type": "Task",
      "Comment": "Get's a 'paged' resultset of tenant uuids",
      "Type": "Task",
      "Resource": "${GetTenantsFunctionArn}",
      "Retry": [ {
        "ErrorEquals": [ "Lambda.ServiceException", "Lambda.AWSLambdaException", "Lambda.SdkClientException" ],
        "IntervalSeconds": 2,
        "MaxAttempts": 6,
        "BackoffRate": 2
      } ],
      "Next": "Process Tenants"
    },
    "Process Tenants": {
      "Type": "Map",
      "Next": "Finish",
      "ItemsPath": "$.content",
      "MaxConcurrency": 1,
      "Parameters": {
        "tenantUuid.$": "$$.Map.Item.Value"
      },
      "Iterator": {
        "StartAt": "Start StateMachine for Tenant",
        "States": {
          "Start StateMachine for Tenant": {
            "Type": "Pass",
            "End": true
          }
        }
      }
    },
    "Finish": {
      "Type": "Pass",
      "End": true
    }
  }
}
